* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    scroll-padding-top: 120px;
}

:root {
    --bg-dark-body: #212121;
    --bg-dark-sec: #262626;
    --sunglow-color: #ffc857;
    --cardinal-color: #c5283d;
    --icon-hover-color: #525252;
}

body {
    background-color: var(--bg-dark-body);
    font-family: 'Kanit', sans-serif;
    color: #fff;
    margin: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

/*
=====================
==Start Ready Class==
=====================
*/
.bg-dark-section {
    background-color: var(--bg-dark-sec);
}

.color-gradient {
    background: linear-gradient(270deg, var(--cardinal-color), var(--sunglow-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-gradient {
    background: linear-gradient(90deg, var(--cardinal-color), var(--sunglow-color));
}

.sunglow-color {
    color: var(--sunglow-color);
}

/* only in ramadan----------------------------- */
.ramadan {
    position: fixed;
    width: 200px;
    height: 200px;
    z-index: 9999;
    transition: .3s all linear;
    animation: ramadan 3s linear;
}

@keyframes ramadan {
    from{
        top: -300px;
    } 
    to{
        top: 0;
    }
}
@-webkit-keyframes ramadan {
    from{
        top: -300px;
    } 
    to{
        top: 0;
    }
}
@-moz-keyframes ramadan {
    from{
        top: -300px;
    }
    to{
        top: 0;
    }
}
.ramadan>img {
    width: 100%;
}

.ramadan.left {
    left: 0;
}

.ramadan.right {
    right: 0;
}

/* only in ramadan----------------------------- */
/* Fixed Nav*/
.fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #262626;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
    transition: all .5s ease;
}

/* .logo {
    font-size: 24px;
    font-weight: 600;
} */

.my-text-shadow {
    transition: all .4s linear;
}

.my-text-shadow:hover {
    text-shadow: 0px 2px 10px var(--cardinal-color),
        0px -1px 10px var(--sunglow-color);
}

/*
=====================
== End Ready Class===
=====================
*/
/*Start Arrow UP-------------*/
.top-scroll #arrow-up {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: var(--sunglow-color);
    border: 1px solid #fff;
    color: var(--bg-dark-body);
    padding: 4px 10px;
    font-size: 18px;
    display: none;
    z-index: 99999;
}

/*End Arrow UP-------------*/
/*
=====================
==Start Home Into====
=====================
*/
/* #home-into .image img {
    width: 300px;
    height: auto;
} */

#home-into .info h2 {
    font-size: 50px !important;
}

@media (max-width: 767px) {
    #home-into .box {
        flex-direction: column !important;
    }

    #home-into .box .info {
        text-align: center;
        margin-bottom: 40px;
    }
}

/*
=====================
==End Home Into======
=====================
*/
/*
=====================
==Start About Box====
=====================
*/
/*
=====================
==End About Box======
=====================
*/
/*
=================
===Start Resume== 
=================
*/
#resume-section .box-content .right-info {
    margin-left: 25px;
    flex-basis: 50%;
    display: flex;
    position: relative;
}

#resume-section .box-content .left-info p.descrip-res {
    line-height: 1.2;
    font-size: 50px;
}

#resume-section .box-content .right-info ul.line::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #fff;
    height: 98%;
    top: 0;
    z-index: 1;
}

#resume-section .box-content .right-info li {
    margin-left: 20px;
    position: relative;
    margin-bottom: 25px;
    line-height: 1;
}

#resume-section .box-content .right-info li>p {
    font-size: 20px;
    margin-bottom: 5px;
}

#resume-section .box-content .right-info li>.data {
    color: var(--sunglow-color);
}

#resume-section .box-content .right-info li::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 5;
    left: -28px;
    top: 0;
}

#resume-section .box-content .skills .right-info span.skill-title {
    display: block;
    margin-bottom: 15px;
    text-transform: capitalize;
}

#resume-section .box-content .right-info .progress {
    width: 300px;
    margin-bottom: 30px;
    height: 5px;
    border-radius: 0;
    background-color: #414141;
}

@media (max-width: 991px) {

    #resume-section .box-content .exper,
    #resume-section .box-content .education,
    #resume-section .box-content .skills {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    #resume-section .box-content .left-info {
        text-align: center !important;
        margin-bottom: 30px;
    }

    #resume-section .box-content .left-info p.descrip-res {
        font-size: 30px;
    }

    #resume-section .box-content .right-info .progress {
        width: 200px;
    }

}

/*
=================
===End Resume== 
=================
*/
/*
=======================
===START Technologies== 
========================
*/
#tech-section .box-tech {
    margin-top: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

#tech-section .box-tech .tech-icon {
    color: #fff;
    font-size: 35px;
    background-color: var(--bg-dark-body);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

/*
=====================
===End Technologies== 
=====================
*/

/*
====================
=== Start Project===
====================
*/
#projects-section .box {
    overflow: hidden;
    backface-visibility: hidden;
    margin-top: 22px;
}

#projects-section .box .image-project {
    overflow: hidden;
    position: relative;
}

#projects-section .box .image-project img {
    width: 100%;
    height: auto;
    transition: all 0.3s linear;
}

#projects-section .box .info {
    text-transform: capitalize;
}

#projects-section .box .info h5:hover {
    color: var(--sunglow-color);
}

#projects-section .box .image-project .projects-links {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    backdrop-filter: grayscale(1);
    transition: all 0.3s linear;
    /* z-index: -1; */
}

#projects-section .box:hover {
    box-shadow: 0 -40px 37px #ffc75783 inset;
    transition: all 0.5s linear;
}

#projects-section .box:hover.box .image-project img {
    transform: scale(1.2);
}

#projects-section .box:hover.box .image-project .projects-links {
    opacity: 1;
    z-index: 1;
    top: 0;
    backdrop-filter: blur(3px);
}

#projects-section .box .image-project .projects-links a {
    display: block;
    color: var(--bg-dark-sec);
    font-size: clamp(19px, 21px, 5vw);
    background-color: var(--sunglow-color);
    padding: 6px 10px;
    border-radius: 5px;
}

/*
====================
=== End Project=====
====================
*/
/*
====================
=== Start Contact===
====================
*/
#contact-section .social-media {
    display: inline-flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

#contact-section .social-media a {
    color: #ffffff;
    font-size: 25px;
    transition: all .3s linear;
    background-color: var(--bg-dark-body);
    padding: 5px 15px;
    border-radius: 5px;
}

#contact-section .social-media a i {
    width: 25px;
}

#contact-section .social-media a:hover {
    color: var(--icon-hover-color);
    transform: scale(.9);
}

/*
====================
=== End Contact=====
====================
*/